/* App.css */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header, .App-main {
  padding: 20px;
}

.App-main {
  flex: 1;
}
